﻿@using ArmyTechTask.BLL.ViewModel.Cashier;
@model List<GetCashierViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn btn-info" style="color: bisque">
                <a href="@Url.Action("CreateCashier", "Cashier")"> Create New cashier  </a>
            </div>
            <div class="table" style="height: auto">
                <table class=" table">
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Cashier Name</th>
                            <th scope="col">Branch Name</th>
                            <th scope="col">Update Cashier</th>
                            <th scope="col">Delete Cashier</th>



                        </tr>
                    </thead>
                    @{

                        foreach (var item in Model)
                        {

                            <tbody>
                                <tr>

                                    <td>@item.CashierName</td>
                                    <td>@item.Branch.BranchName</td>

                                    <td>
                                        <a href="@Url.Action("UpdateCashier", "Cashier", new {Id = item.ID})"> Update </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("DeleteCashier", "Cashier", new {Id = item.ID})"> Delete </a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>




            </div>
        </div>
    </div>
</div>

