﻿@using ArmyTechTask.BLL.ViewModel.Cashier;
@model UpdateCashierViewModel
@{
    ViewBag.Title = "UpdateCashier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
@using (Html.BeginForm("UpdateCashier", "Cashier"))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.ID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CashierName)
        @Html.EditorFor(m => m.CashierName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CashierName, "", htmlAttributes: new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BranchID)
        @Html.DropDownListFor(m => m.BranchID, new SelectList(Model.Branches, "ID", "BranchName"), new { @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

