﻿
@using ArmyTechTask.BLL.ViewModel.Invoice;
@model ICollection<GetInvoiceViewModel>



<div class="row">
    <div class="col-lg-12">
        <div>
            <table class=" table">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Cashier Name</th>
                        <th scope="col">Invoice Details ( Name - Count - Price - Total )</th>

                        @*<th scope="col">Item Name</th>
        <th scope="col">Item Count</th>
        <th scope="col">Item Price</th>
        <th scope="col">Total</th>*@
                        <th scope="col">Total Price</th>



                    </tr>
                </thead>
                <tbody>

                   

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td >@item.ID</td>
                                <td >@item.CustomerName</td>
                                <td >@item.InvoiceDate.ToString("dd-MM-yyyy hh:mm t")</td>
                                <td >@item.BranchName</td>
                                <td >@item.CashierName</td>


                                <td>
                                    <ul class="text-center">
                                        @foreach (var item2 in item.InvoiceDetails)
                                        {
                                        <li>
                                            @Html.Raw($"{item2.ItemName} - {item2.ItemCount} - {item2.ItemPrice} - {item2.Total}")
                                            @*@(item2.ItemName) - @(item2.ItemCount) - @(item2.ItemPrice) - @(item2.Total)*@
                                        </li> 
                                        }
                                        
                                    </ul>
                                </td>



                                <td >@item.Total</td>
                            </tr>
                          }
                    
                    </tbody>

                </table>




        </div>
    </div>
</div>
